$nunColumns : 12;

$sizeColumns: (xs, 0px),
                (sm, 750px),
                (md, 970px),
                (lg, 1170px);

$functional-variations:(primary, #337AB7),
                       (success, #5CB85C),
                       (info, #5BC0DE),
                       (warning, #F0AD4E),
                       (error, #D9534F);
                       
